{% extends '../base.html' %}

{% load static %}

{% block content %}
	<div class="row mb-3">
		<form id="search" class="form form-inline col-12" method="GET" action="/search">
			<div class="input-group col-12">
				<input type="text" class="form-control" name="search" placeholder="Search..." aria-label="Search" aria-describedby="magnifying-glass" />
				<div class="input-group-append">
					<span class="input-group-text" id="magnifying-glass"><i class="fas fa-search"></i></span>
				</div>
			</div>
		</form>
	</div>

	<div id="results">
		{% include "./item_snippet.html" with items=items %}
	</div>
{% endblock %}

{% block scripts %}
	<script src="{% static 'main.js' %}"></script>
{% endblock %}