{% extends '../base.html' %}

{% load static %}

{% block content %}
	<div class="row mb-3">
		<form id="search" class="form form-inline col-12" method="GET" action="/search">
			<div class="input-group col-12">
				<input type="text" class="form-control" name="search" placeholder="Search..." aria-label="Search" aria-describedby="magnifying-glass" />
				<div class="input-group-append">
					<span class="input-group-text" id="magnifying-glass"><i class="fas fa-search"></i></span>
				</div>
			</div>
		</form>
	</div>

	<div id="results">
		{% if items %}
			<div class="card-columns">
				{% for item in items %}
						<div class="card">
							<h5 class="card-header">{{ item.item_name }}</h5>
							<img src="{{ item.item_image.url }}" class="card-img-top" alt="{{ item.item_name }}" />
							{% if item.item_ended %}
								<div class="card-body">
									<a href="#" class="btn btn-danger" style="width:100%">Auction over</a>
								</div>
							{% else %}
								<div class="card-body">
									<a href="{% url 'bidding:item' item.pk %}" class="btn btn-success" style="width:100%">Make a bid!</a>
								</div>
							{% endif %}
							<div class="card-footer">
								<small class="text-muted">Posted {{ item.posted_time|timesince }} ago.</small>
								<br />
								{% if item.item_ended %}
									<small class="text-muted">Auction ended {{ item.end_time|timesince }} ago.</small>
								{% else %}
									<small class="text-muted">Ends in {{ item.end_time|timeuntil }}.</small>
								{% endif %}
							</div>
				{% endfor %}
			</div>
		{% else %}
			<div class="jumbotron col-12">
				<h1 class="display-4">No items yet!</h1>
				<p class="lead">
					No items have been posted for sale yet.
				</p>
			</div>
		{% endif %}
	</div>
{% endblock %}

{% block scripts %}
	<script src="{% static 'main.js' %}"></script>
{% endblock %}